.men{
	//--bg-main: #2C3A6F;
	//--bg-secondary:#1F2D4D;
	//--destructive: #3030C5;
	//--product-bg:#27355C;
	--dividing-line-header: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
	--white: white;
	//Var 1
	//--bg-main: #3A3330;
	//TODO gradient for men
	--bg-main: linear-gradient(to bottom, black, #171719);;
	--bg-secondary:#26211E;
	--destructive: #C53030;
	--product-bg:#2E2826;


	//--gradient:linear-gradient(to bottom, black, #171719);;;
	--gradient:black;
	--button-primary:#2E2826 ;
	--text-primary: #FFFFFF;
	--text-secondary: #D0D0D0;
}
