:root {
	//Colors
	--text-black: #333;
	--text-gray: #555;
	--product-btn: #8f8480;

	//Bg
	--overlay-bg: rgba(0, 0, 0, 0.5);

	//Header


	//Heights
	--header-height: 66px;

	//Z -indexes
	--z-modal: 10;
	--z-header: 5;


	//Border Radiuses
	--border-l: 12px;

	//Border colors
	--tab-border: rgba(255, 255, 255, 0.1);

	//Margins
	--header-margin: 80px;
}

.primary {
	color: var(--text-primary)
}

.secondary{
	color:var(--text-secondary)
}
