.women {
	//--bg-main:#3a3330;
	//--bg-secondary:#26211e;
	//--product-bg:#2e2826;
	//
	--white: #FFF;
	--dividing-line-header: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);

	//Малина 1
	//--bg-main:#8B253E;
	//--bg-secondary:#62192A;
	//--product-bg:#751F2B;

	// Малина 2
	//--bg-main: #4A3739;
	//--bg-secondary:#3E2C2A;
	//--product-bg:#503131;

	//Малина 3
	//--bg-main: #6F2C3A;
	//--bg-secondary:#4D1F2D;
	//--destructive: #C53030;
	//--product-bg:#5C2735;

	//	Light colors
	//	--bg-main: #F7F4F8;
	//	--bg-secondary:#F0E7EA;
	//	--destructive: #F44336;
	//	--product-bg:#F3D8E4;

	//v2
	//--bg-main: #F0F0F0;
	//--bg-secondary: #D9D9D9;
	//--product-bg:#C4C4C4;
	//--text-primary: #2C2C2C;
	//--text-secondary: #4A4A4A;


	//v3
	//--bg-main: #EDEDED;
	//--bg-secondary: #D1D1D1;
	//--text-primary: #1A1A1A;
	//--text-secondary: #404040;
	//--product-bg: #C4C4C4;
	//--button-primary: #4D4D4D;
	//--button-hover: #7A7A7A;

	--bg-main: #FFFFFF;
	--bg-secondary: #F5F5F5;
	--text-primary: #1A1A1A;
	--text-secondary: #4D4D4D;
	--product-bg: #E0E0E0;
	//--button-primary: #8B253E;
	--button-primary: #CB1243;
	--button-hover: #7A7A7A;

	--gradient: white;
	//v4
	//--bg-main: #E3E4E0;
	//--bg-secondary: #C1C3BE;
	//--product-bg: #A4A6A2;
	//--text-primary: #323533;
	//--text-secondary: #565956;
	//--accent-color: #857B70;
	//--border-color: #9C9387;

	//v5
	//--bg-main: #F5F5F5;
	//--bg-secondary: #EAEAEA;
	//--product-bg: #D6D6D6;
	//--text-primary: #4A4A4A;
	//--text-secondary: #7A7A7A;

}
