.wrapper {
}

.container {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: var(--z-header);
	background: transparent;
	transition: background 0.3s ease-in;

	&.color {
		background: var(--bg-secondary);
	}

	&::before {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		background: var(--dividing-line-header);
		content: "";
	}
}
