
.container{
	line-height: 32px;
	font-size: 24px;
	font-weight: 500;
}
.xs{
	font-size: 14px;
	line-height: 18px;
}
.s{
	font-size: 16px !important;
	line-height: 20px !important;
}

.m{
	font-size: 20px;
	line-height: 26px;
}
