.container{
	color: var(--Text-Primary);
	font-size: 16px;
	font-style: normal;
	line-height: 22px; /* 137.5% */
	font-weight: 400;
}
.s{
	font-size: 14px !important;
	line-height: 18px !important;
}
.m{
	font-size: 16px !important;
	line-height: 20px !important;
}
.l{
	font-size: 18px;
	line-height: 24px;
}
